<div class="hole"></div>
<div class="open_source">
	<article>
		<h2>OPEN SOURCE ADVOCACY</h2>
		<span class="note">PHILOSOPHY and OPINION</span>
		<span class="note">UPDATED : MAY 22, 2017</span>
		<div class="row">
			<div class="col-md-12">
				<p class="first-p">
					<span class="emhpasis">I</span> made a living out of open source technologies on
					all layers of the development stack. Starting off in my first years in the industry, 
					I took a keen interest on the Android SDK and back then it was for the Jellybean 
					Anrdroid OS. As time went by I utilized PHP and Javascript for coding web applications.
					For a time being, I coded in objective-c for iOS development and back then (4 years ago) 
					iOS development utilized objective-C with XIB for its user interface compare to today's 
					swift and storyboard duo. I also threw in J2EE in my knowledge library for
					no apparent reason.
				</p>
				<p class="first-p">
					The typical "run of the mill" stack my projects consisted of
					was Apache for the HTTP server, MySQL for the SQL database and PHP
					for the server-side scripting language. I also incorporated jQuery 
					on my web application projects for better client side DOM manipulation.
					Today the stacks and technologies just keep on growing and growing. As I grew in
					knowledge of the craft, I explored more. I later found out that there are
					millions of different ways to code web appications. If you are running J2EE
					you can settle for the Spring framwork. As for PHP, my chosen primary language, 
					I ran in to mutliple frameworks with Codeigniter 2 as the PHP framework I really 
					utilized in my projects and then there's Laravel a fairly new and very OOP centric framework
					I also fell in love with. Also new to the mix, I also took a keen interest
					in Phalcon PHP framework. I dived in to the different aspects of these frameworks
					going as far as benchmarking them and studying there respective approaches to the
					HMVC and MVC architectures. Right now, these architectures are threatened by
					component based frameworks.
				</p>
				<p class="first-p">
					After diving in to the dynamics of different platform frameworks of web server-side scripting, 
					I stumbled on NodeJS. I have to say, NodeJS is bae. It is a tech unlike 
					anything I have ever seen. I haven't seen Ruby or Python in action or its modules
					in their heights but I can vouch for NodeJS for being plain awesome. NodeJS' building blocks 
					are its NPM (Node Package Module). Simillar to the PHP composer, NodeJS is a rabbit hole 
					much deeper than I tought. From NodeJS you can run very useuful tools like GULP, GRUNT, 
					Jasmine amd Webdriver (Selenium). NodeJS paved the way for task automation, realtime web services, 
					restful API and so much more.
				</p>
				<div class="quote">
					After diving in to the dynamics of different platform frameworks of web server-side scripting, 
					I stumbled on NodeJS. I have to say, NodeJS is bae.
				</div>
				<p class="break-above first-p">
					<span class="emhpasis">L</span>earning open source technologies from the front-end stack all the
					way to the bottom stack of system administration is rewarding but comes with a steep learning curves. I haven't 
					even expressed excitement on the different systems that incorporate the full stack. One example would be systems 
					written in JAVA as it is a high performance language and a pillar for intensive computing and data strcuturing. 
					Linux (debian) is my chosen server OS since it is light weight. Linux is also challenging since you will mostly 
					interact with the interface using a terminal. The Open Source side of IT solutions and software development is dynamic, 
					complex (in a fun way) and exciting.
				</p>
				<p class="first-p">
					I am in no way undermining licensed tools and tech like Windows Server, SAP, Peoplesoft or .NET. One probable reason why
					licensed tools are opted by huge companies is these companies want to focus on their primary craft. Law firms
					for example would logically outsource their accounting on another company for transparency. Many software 
					BPO companies provide these solutions and these companies utilize licensed tools. The very ecosystem of software
					solutions is huge. One reason why I advocate for Open Source development is that Open Source technologies are intertwined
					with the sciences.
				</p>
				<div class="quote">
					One reason why I advocate for Open Source development is that Open Source technologies are intertwined
					with the sciences.
				</div>
				<p class="first-p">
					I am also not saying that Open Source technologies are not suitable for business processes; 
					rather Open Source technologies are building blocks for business solutions. Many people innovate through
					Open Source platforms. Take jQuery for example. It has become the norm of Microsoft's ASP.NET MVC web platform.
					More innovative Javascript frameworks has spurred out since then making jQuery quite an old framework. <br>
				</p>
				<a class="button" href="">SO... WHY GO OPEN SOURCE?</a>
			</div>
		</div>
	</article>
</div>